<div class="row">
    <div class="col-sm-8">
        <div class="page-section" style="margin-bottom:-40px; height:120px">
            <div class="media v-middle">
                <div class="media-body">
                    <h1 class="text-display-1 margin-none">Coups de coeur ❤</h1>
                    <br/>
                </div>
            </div>
        </div>
        <div style="height:36px;"></div>
        <div *ngIf="loader" class="loader"></div>
        <div *ngIf="coupdecoeurs.length == 0">Aucun coup de coeur enregistré pour le moment</div>
        <div *ngFor="let coupdecoeur of coupdecoeurs" style="margin-bottom:60px">
            <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-body">

                    <div class="media media-clearfix-xs">
                        <div class="media-left text-center">
                            <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                                <span class="img icon-block width-150 height-130 bg-default"></span>

                                <img src="{{coupdecoeur.picture}}" class="overlay overlay-full padding-none icon-block bg-default height-130">


                                <a [routerLink]="[coupdecoeur.name]" class="overlay overlay-full overlay-hover overlay-bg-white height-130">
                                    <span class="v-center">
                                        <span class="btn btn-circle btn-white btn-lg">
                                            <i class="fa fa-graduation-cap"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="media-body">
                            <span class="text-headline margin-v-5-0">
                                <a style="text-decoration: none;" [routerLink]="[coupdecoeur.name]">{{coupdecoeur.name}}</a>
                            </span>
                            <p>
                                <span style="font-weight: bold;">Catégorie : </span>
                                <span *ngFor="let section of coupdecoeur.sections">{{section.sectionName}} {{section.sectionName == coupdecoeur.sections[coupdecoeur.sections.length-1].sectionName
                                    ? '' : ','}} </span>
                            </p>
                            <p>{{coupdecoeur.description}}</p>

                            <hr class="margin-v-8" />



                            <div class="row">
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-white btn-flat paper-shadow" [routerLink]="[coupdecoeur.name]">En Savoir Plus &nbsp;</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="col-sm-4">
        <div style="margin-bottom:-44px; height:120px"></div>
        <div class="page-section" style="margin-bottom:-20px;">
            <div class="panel panel-default paper-shadow" data-z="0.5">
                <div class="panel-heading">
                    <h4 class="text-headline margin-none">Important</h4><br>
                    <p class="text-subhead text-light" style="font-size:14px">Les produits présentés ici sont des coups de coeur, que nous ne proposons pas directement à la vente : des produits de grande qualité qui peuvent réélement
                        faire évoluer vos résultats. Ils sont sélectionnés et testé parmis des dizaines de produits sortant
                        chaque mois.
                        <br>
                        <br>Si vous souhaitez acquérir un de ces produits, nous vous mettons deux liens à disposition :
                        <br>
                        <i class="fa fa-arrow-circle-right"></i> Un lien d'affiliation, sur lequel nous récupérons une commision pour récompenser notre travail.
                        <br>
                        <i class="fa fa-arrow-circle-right"></i> Un lien sans affiliation, si le principe de l'affiliation vous dérange.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

