<div class="page-header">
  <h1>Liste des cours</h1>
</div>


<div class="jumbotron">

  <div class="row">
    <h2>Ajouter un cours</h2>
    <br>
    <form (ngSubmit)="onSubmit(addCoursForm)" #addCoursForm="ngForm">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nom du cours</th>
            <th scope="col">Lien du cours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" id="titre" class="form-control" [ngModel]="mycourse?.titre" name="titre">
            </td>
            <td>
              <input type="text" id="lien" class="form-control" [ngModel]="mycourse?.lien" name="lien">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <label for="description">Description (html)</label>
        <textarea class="form-control" id="description" rows="4" name="description" style="height:120px" [ngModel]="mycourse?.description"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>
  </div>
  <br>
  <div class="row">
    <h2>Liste des Cours</h2>
    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom du Cours</th>
          <th scope="col">ID</th>
          <th scope="col">Short Description</th>
          <th scope="col">Editeur de cours</th>

          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cours of courses">
          <td>{{cours.titre}}</td>
          <td>{{cours.coursID}}</td>
          <td>{{cours.description}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['../courseditor/'+cours.coursID]">Edit</a>
          </td>
          <td>
            <a class="btn btn-primary" (click)="coursDelete(cours)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <br>
  <br>
</div>