<div class="login">

	<div id="content">
		<div class="container-fluid">

			<div class="lock-container">
				<div class="panel panel-default text-center paper-shadow" data-z="0.5">
					<h1 class="text-display-1 text-center margin-bottom-none">Mot de Passe Oublié ?</h1>
					<img src="/images/people/dewey.jpg" class="img-circle width-100">
					<div class="panel-body" style="margin-top:5px">
						<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
							<p>Rentrez votre email pour recevoir un mail de reinitialisation du mot de passe</p><br>
							<div class="form-group">
								<div class="form-control-material">
									<input class="form-control" iname="email" id="email" placeholder="Email" formControlName="email">
									<label for="username">&nbsp;&nbsp;&nbsp;Email</label>
								</div>
							</div>
							<br>
							<div id="message"></div>
							<br>
							<button class="btn btn-primary" type="submit">Réinitialiser
								<i class="fa fa-fw fa-unlock-alt"></i>
							</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>