<div class="login">
	<div id="content">
		<div class="container-fluid">
			<div class="lock-container">
				<div class="panel panel-default text-center paper-shadow" data-z="0.5">
					<h1 class="text-display-1 text-center margin-bottom-none">Réinitialisez votre mot de passe</h1>
					<div class="panel-body" style="margin-top:5px">
						<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
							<br>
							<div class="form-group">
								<div class="form-control-material">
									<input class="form-control" iname="email" id="email" placeholder="email" formControlName="email">
									<label for="email">&nbsp;&nbsp;&nbsp;Confirmez votre email</label>
								</div>
							</div>
							<div class="form-group">
								<div class="form-control-material">
									<input type="password" class="form-control" iname="password" id="password" placeholder="password" formControlName="password">
									<label for="password">&nbsp;&nbsp;&nbsp;Nouveau Mot de Passe</label>
								</div>
							</div>
							<div class="form-group">
								<div class="form-control-material">
									<input type="password" class="form-control" iname="passwordConfirm" id="passwordConfirm" placeholder="passwordConfirm" formControlName="passwordConfirm">
									<label for="passwordConfirm">&nbsp;&nbsp;&nbsp;Confirmez le Mot de Passe</label>
								</div>
							</div>
							<div id="result"></div><br>
							<button class="btn btn-primary" type="submit">Valider
								<i class="fa fa-fw fa-unlock-alt"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>