<div class="page-section" style="margin-bottom:-40px;">
    <div class="media v-middle">
        <div class="media-body">
            <h1 class="text-display-1 margin-none">Mes Logiciels</h1>
            <br/>
            <p style="font-size: 15px;">Accès à tous mes logiciels</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-9">

        <!-- Debut des produits -->
        <div style="height:36px;"></div>
        <div class="row" data-toggle="isotope">
            <div *ngIf="products;else products_chargement">
                <div class="item col-xs-12 col-sm-6 col-lg-4" *ngFor="let product of products">
                    <div class="panel panel-default paper-shadow" data-z="0.5">


                        <div class="cover overlay cover-image-full hover">
                            <span class="img icon-block height-150 bg-default"></span>

                            <img [src]="product?.picture" class="padding-none overlay overlay-full icon-block bg-default height-150">


                            <a [routerLink]="['/products/'+product.name]" class="overlay overlay-full overlay-hover overlay-bg-white height-150">
                                <span class="v-center">
                                    <span class="btn btn-circle btn-white btn-lg ">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </span>
                            </a>

                        </div>

                        <div class="panel-body" style="margin-bottom:-10px">
                            <h4 class="text-headline margin-v-0-10">
                                <a [routerLink]="['/products/'+product.name]" style="font-size:20px">{{product.name}}</a>
                            </h4>
                        </div>
                        <hr class="margin-none" />
                        <div class="panel-body">
                            <div style="margin-left:20px">
                                <p class="text-caption margin-none">
                                    <i class="fa fa-sign-in fa-fw"></i> Identifiant : Reçus par email sous 24h
                                    <br>{{myuser?.email}}
                                    <br>
                                </p>
                            </div>
                            <br>
                            <div style="width:105%">
                                <div style="height:5px;font-size:5px;">&nbsp;</div>
                                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated [href]="product.link_to"><i class="fa fa-globe fa-fw"></i> Accèder au Logiciel</a>
                                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated [routerLink]="['/trainings/cours/'+product.formationProduit]"><i class="fa fa-arrow-right fa-fw"></i> Accèder à la formation du Logiciel</a>
                                <span *ngIf="product.downloadableBonus && product.downloadableBonus != ''">
                                <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated [routerLink]="['/bonus/'+product.downloadableBonus]"><i class="fa fa-star fa-fw"></i> Accèder aux Bonus Téléchargeables</a>
                               </span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #products_chargement>
                <div class="loader" style="margin: 20px;"></div>
            </ng-template>
        </div>




        <!--
            <ul class="pagination margin-top-none">
                <li class="disabled">
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        -->

    </div>



    <div class="col-sm-3">
        <!-- .panel -->
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated style="margin-top:36px;">
            <div class="panel-body">
                <h6 class="text-headline">Informations</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="media v-middle">
                        <div class="media-left">
                            <div class="icon-block" style="width: 40px; height: 60px;line-height: 60px; font-size: 30px;">
                                <i class="fa fa-quora" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="media-body" style="font-size:12px">
                            Une Question ? Un Problème ?
                            <br>
                            <strong>Contactez nous :</strong> membre@smaltonline.com
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- // END .panel -->
    </div>


</div>