<div class="backdrop" [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onHideManageLicences()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Gérer les licences de {{modalBox?.product.name}}</h4>
            </div>
            <div class="modal-body">
                <p>Uploader un fichier de licence
                    <br>
                    <strong>Format :</strong> LicenceID;LicencePassword;LicenceKey
                    <br>
                </p>
                <div class="form-group">
                    <label for="productLicences">Fichier</label>
                    <input type="file" ngModel class="form-control-file" id="productLicences" name="productLicences" (change)="fileChanged($event)">
                </div>
                <br>
                <div id="resultUpload"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onAddLicences()">Ajouter</button>
                <button type="button" class="btn btn-default" (click)="onHideManageLicences()">Fermer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->